[mysqld]
local-infile=1
[client]
# Use the loose- prefix to avoid breaking other programs such as mysqldump if the variable is unknown to them; instead a warning is issued.
# Only needed for client section.
# https://dev.mysql.com/doc/refman/8.0/en/load-data-local-security.html
loose-local-infile=1
