<?php

# E-mail address
$emailAddress = '';

# API key for the SMS provider
$smsProviderApiKey = '';

# Mobile number(s) (international format) - string or array of numbers
$smsNumbers = '+44 ';

# CycleStreets API key
$cyclestreetsApiKey = '';
